# Copy this file to .env and fill in your values
POSTGRES_USER=pulse_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=pulse_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

POSTGRES_REPLICA_HOST=db_replica
POSTGRES_REPLICA_PORT=5432

POSTGRES_TEST_DB=pulse_test
POSTGRES_TEST_HOST=db_test
POSTGRES_TEST_PORT=5432


REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=generate_a_long_random_string_here
DEBUG=true